In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the data
df = pd.read_csv('orders.csv')
df

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0
...,...,...,...,...,...,...,...
96113,2019-08-18,44315,31154,24,Суши,2.0,0.0
96114,2019-06-15,17528,11182,25,Пицца,11.0,1.0
96115,2019-08-19,45351,31679,23,Вьетнамская,1.0,0.0
96116,2019-09-26,64209,42525,25,Суши,7.0,0.0
96117,2019-09-06,34676,25567,26,Итальянская,1.0,0.0

In [3]:
df['city_id'].value_counts()

city_id
23    32995
25    24276
26    21533
24    17314
Name: count, dtype: int64

In [4]:
df['date'] = pd.to_datetime(df['date'])

In [5]:
df.head()

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0

In [23]:
from deep_translator import GoogleTranslator
to_translate = 'Завтраки'
translated = GoogleTranslator(source='auto', target='english').translate(to_translate)
translated

'Breakfast'

In [9]:
def translate_category(spec):
    return GoogleTranslator(source='auto', target='english').translate(spec)

In [12]:
df['spec'].unique()

array(['Суши', 'Шаурма', 'Пицца', 'Шашлыки', 'Грузинская', 'Бургеры',
       'Русская', 'Мясо', 'Вьетнамская', 'Сэндвичи', 'Обеды',
       'Паназиатская', 'Рыба', 'Пироги', 'Кофе и чай', 'Выпечка',
       'Десерты', 'Китайская', 'Здоровая еда', 'Итальянская', nan,
       'Фастфуд', 'Узбекская', 'Мексиканская', 'Японская', 'Супы',
       'Паста и ризотто', 'Завтраки', 'Хот-доги', 'Хумус', 'Индийская',
       'Корейская', 'Вегетарианское меню', 'Гирос', 'Халяль', 'Хинкали'],
      dtype=object)

In [16]:
df_2000=df.head(2000)
df_2000

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0
...,...,...,...,...,...,...,...
1995,2019-08-24,63852,42352,23,Пицца,1.0,0.0
1996,2019-08-02,59228,31712,26,Выпечка,1.0,1.0
1997,2019-09-07,11486,6861,25,Суши,8.0,0.0
1998,2019-07-10,24152,16039,23,Пицца,21.0,0.0
1999,2019-07-16,66076,42616,25,Русская,4.0,0.0

In [24]:
df_2000.isnull().sum()

date                  0
vendor_id             0
chain_id              0
city_id               0
spec                 11
successful_orders     0
fail_orders           0
dtype: int64

In [20]:
spec=df_2000['spec'].dropna().unique().tolist()
spec

['Суши',
 'Шаурма',
 'Пицца',
 'Шашлыки',
 'Грузинская',
 'Бургеры',
 'Русская',
 'Мясо',
 'Вьетнамская',
 'Сэндвичи',
 'Обеды',
 'Паназиатская',
 'Рыба',
 'Пироги',
 'Кофе и чай',
 'Выпечка',
 'Десерты',
 'Китайская',
 'Здоровая еда',
 'Итальянская',
 'Фастфуд',
 'Узбекская',
 'Мексиканская',
 'Японская',
 'Супы',
 'Паста и ризотто',
 'Завтраки',
 'Хот-доги',
 'Хумус',
 'Индийская',
 'Корейская',
 'Вегетарианское меню']

In [27]:
df_5=df_2000.head(5)
df_5

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Sushi,54.0,1.0
1,2019-08-27,48058,33226,23,Shawarma,0.0,0.0
2,2019-09-25,35430,26220,25,Pizza,2.0,0.0
3,2019-09-21,56553,38601,23,Kebabs,1.0,0.0
4,2019-09-21,43919,30984,25,Sushi,6.0,0.0

In [25]:
# Filling the missing values in spec column with 'Random Values'
df_2000['spec'].fillna('Random Values', inplace=True)
df_2000.isnull().sum()

/var/folders/bd/tsbt311j74dd9vr3q6pjs6x80000gn/T/ipykernel_30118/3323717059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2000['spec'].fillna('Random Values', inplace=True)

date                 0
vendor_id            0
chain_id             0
city_id              0
spec                 0
successful_orders    0
fail_orders          0
dtype: int64

In [26]:
df_2000['spec'] = df_2000['spec'].apply(translate_category)
#df_2000.loc[:, 'spec'] = df_2000['spec'].apply(translate_category)

/var/folders/bd/tsbt311j74dd9vr3q6pjs6x80000gn/T/ipykernel_30118/3758493751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2000['spec'] = df_2000['spec'].apply(translate_category)

In [28]:
df_2000

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Sushi,54.0,1.0
1,2019-08-27,48058,33226,23,Shawarma,0.0,0.0
2,2019-09-25,35430,26220,25,Pizza,2.0,0.0
3,2019-09-21,56553,38601,23,Kebabs,1.0,0.0
4,2019-09-21,43919,30984,25,Sushi,6.0,0.0
...,...,...,...,...,...,...,...
1995,2019-08-24,63852,42352,23,Pizza,1.0,0.0
1996,2019-08-02,59228,31712,26,Baking,1.0,1.0
1997,2019-09-07,11486,6861,25,Sushi,8.0,0.0
1998,2019-07-10,24152,16039,23,Pizza,21.0,0.0
1999,2019-07-16,66076,42616,25,Russian,4.0,0.0

In [30]:
df_2000.to_csv('translated_orders.csv', index=False)

In [31]:
translated_df = pd.read_csv('translated_orders.csv')
translated_df

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Sushi,54.0,1.0
1,2019-08-27,48058,33226,23,Shawarma,0.0,0.0
2,2019-09-25,35430,26220,25,Pizza,2.0,0.0
3,2019-09-21,56553,38601,23,Kebabs,1.0,0.0
4,2019-09-21,43919,30984,25,Sushi,6.0,0.0
...,...,...,...,...,...,...,...
1995,2019-08-24,63852,42352,23,Pizza,1.0,0.0
1996,2019-08-02,59228,31712,26,Baking,1.0,1.0
1997,2019-09-07,11486,6861,25,Sushi,8.0,0.0
1998,2019-07-10,24152,16039,23,Pizza,21.0,0.0
1999,2019-07-16,66076,42616,25,Russian,4.0,0.0