In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [47]:
# Load the data
df = pd.read_csv('social media influencers-youtube - --nov 2022.csv')
df

,s.no,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.),Category-2
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K,Humor
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0,Toys
...,...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10.1M,Brazil,215.4K,25.2K,1.3K,NaN
996,997,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884,NaN
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,218.3K,4.5K,306,NaN
998,999,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92,NaN
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,139.6K,15.4K,125,NaN

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   s.no             1000 non-null   int64
 1   Youtube channel  1000 non-null   object
 2   youtuber name    1000 non-null   object
 3   Category         707 non-null    object
 4   Followers        1000 non-null   object
 5   Country          829 non-null    object
 6
Views (Avg.)    1000 non-null   object
 7   Likes (Avg.)     1000 non-null   object
 8   Comments (Avg.)  1000 non-null   object
 9   Category-2       273 non-null    object
dtypes: int64(1), object(9)
memory usage: 78.3+ KB

In [49]:
# Check for missing values
df.isnull().sum()

s.no                 0
Youtube channel      0
youtuber name        0
Category           293
Followers            0
Country            171
\nViews (Avg.)       0
Likes (Avg.)         0
Comments (Avg.)      0
Category-2         727
dtype: int64

# Handling Missing Values

In [50]:
# Using String Interpolation
df = df.interpolate(method='linear')
df

/var/folders/bd/tsbt311j74dd9vr3q6pjs6x80000gn/T/ipykernel_26613/1941659212.py:2: FutureWarning:

DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.

,s.no,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.),Category-2
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K,Humor
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0,Toys
...,...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10.1M,Brazil,215.4K,25.2K,1.3K,NaN
996,997,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884,NaN
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,218.3K,4.5K,306,NaN
998,999,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92,NaN
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,139.6K,15.4K,125,NaN

In [51]:
# Check for missing values
df.isnull().sum()

s.no                 0
Youtube channel      0
youtuber name        0
Category           293
Followers            0
Country            171
\nViews (Avg.)       0
Likes (Avg.)         0
Comments (Avg.)      0
Category-2         727
dtype: int64

In [52]:
df.drop(['Category-2','s.no'], axis=1, inplace=True)
df

,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.)
0,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158
1,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0
2,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K
3,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K
4,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0
...,...,...,...,...,...,...,...,...
995,RUOK,RUOK,NaN,10.1M,Brazil,215.4K,25.2K,1.3K
996,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884
997,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,218.3K,4.5K,306
998,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92
999,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,139.6K,15.4K,125

In [71]:
# Displaying the unique values of the 'Category' column
category=df['Category'].dropna().unique().tolist()
category

['Music & Dance',
 'Education',
 'Animation',
 'Video games',
 'Toys',
 'DIY & Life Hacks',
 'Movies',
 'Fitness',
 'News & Politics',
 'Food & Drinks',
 'ASMR',
 'Design/art',
 'Health & Self Help',
 'Fashion',
 'Daily vlogs',
 'Humor',
 'Beauty',
 'Animals & Pets',
 'Sports',
 'Science & Technology']

In [54]:
# Count the number of unique values in the 'Category' column
df['Category'].value_counts()

Category
Music & Dance           238
Movies                  100
Animation                98
Video games              62
News & Politics          44
Daily vlogs              38
Education                31
Toys                     19
Science & Technology     17
Food & Drinks            14
Humor                    12
DIY & Life Hacks         10
Sports                   10
Fitness                   3
Health & Self Help        3
Animals & Pets            2
ASMR                      2
Fashion                   2
Beauty                    1
Design/art                1
Name: count, dtype: int64

In [55]:
df

,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.)
0,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158
1,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0
2,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K
3,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K
4,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0
...,...,...,...,...,...,...,...,...
995,RUOK,RUOK,NaN,10.1M,Brazil,215.4K,25.2K,1.3K
996,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884
997,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,218.3K,4.5K,306
998,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92
999,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,139.6K,15.4K,125

In [100]:
df

,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.)
0,tseries,T-Series,Music & Dance,229500000.0,India,103800.0,2800.0,158.0
1,checkgate,Cocomelon - Nursery Rhymes,Education,146600000.0,Morocco,9500000.0,48300.0,0.0
2,PewDiePie,PewDiePie,Animation,111600000.0,United States,1400000.0,110700.0,7800.0
3,MrBeast6000,MrBeast,Video games,109100000.0,United States,38400000.0,3100000.0,56700.0
4,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000.0,Indonesia,2400000.0,15700.0,0.0
...,...,...,...,...,...,...,...,...
95,SelGomez,Selena Gomez,Animals & Pets,31600000.0,United States,1400000.0,162900.0,8100.0
96,GENIAL,GENIAL,Animation,31600000.0,Mexico,33000.0,1100.0,37.0
97,juptube,Galinha Pintadinha,Music & Dance,31600000.0,United Kingdom,7300000.0,30700.0,0.0
98,MrBean,Mr Bean,DIY & Life Hacks,31200000.0,India,134800.0,2000.0,68.0
99,Luis Fonsi,Luis Fonsi,Video games,31200000.0,United States,38500.0,2100.0,78.0

In [98]:
# Function to convert values
def convert_to_number(x):
    if x is not np.NaN:
        if x.endswith('M'):
            return float(x[:-1]) * 1_000_000
        elif x.endswith('K'):
            return float(x[:-1]) * 1_000
        else:
            return float(x)
    else:
        return x

In [99]:
# Apply the function to the 'Followers' column
df['Followers'] = df['Followers'].apply(convert_to_number)
df

AttributeError: `np.NaN` was removed in the NumPy 2.0 release. Use `np.nan` instead.

In [58]:
# Apply the function to the 'Views' column
df['\nViews (Avg.)'] = df['\nViews (Avg.)'].apply(convert_to_number)
df

,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.)
0,tseries,T-Series,Music & Dance,229500000.0,India,103800.0,2.8K,158
1,checkgate,Cocomelon - Nursery Rhymes,Education,146600000.0,NaN,9500000.0,48.3K,0
2,PewDiePie,PewDiePie,Animation,111600000.0,United States,1400000.0,110.7K,7.8K
3,MrBeast6000,MrBeast,Video games,109100000.0,United States,38400000.0,3.1M,56.7K
4,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000.0,NaN,2400000.0,15.7K,0
...,...,...,...,...,...,...,...,...
995,RUOK,RUOK,NaN,10100000.0,Brazil,215400.0,25.2K,1.3K
996,FoxNewsChannel,Fox News,News & Politics,10100000.0,United States,98400.0,4K,884
997,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10100000.0,Indonesia,218300.0,4.5K,306
998,MBCkpop,MBCkpop,Music & Dance,10100000.0,Malaysia,19700.0,2.6K,92
999,Dynamo Gaming,Dynamo Gaming,NaN,10100000.0,India,139600.0,15.4K,125

In [59]:
# Apply the function to the 'Likes and Comments' column
df['Likes (Avg.)'] = df['Likes (Avg.)'].apply(convert_to_number)
df['Comments (Avg.)']=df['Comments (Avg.)'].apply(convert_to_number)
df

,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.)
0,tseries,T-Series,Music & Dance,229500000.0,India,103800.0,2800.0,158.0
1,checkgate,Cocomelon - Nursery Rhymes,Education,146600000.0,NaN,9500000.0,48300.0,0.0
2,PewDiePie,PewDiePie,Animation,111600000.0,United States,1400000.0,110700.0,7800.0
3,MrBeast6000,MrBeast,Video games,109100000.0,United States,38400000.0,3100000.0,56700.0
4,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000.0,NaN,2400000.0,15700.0,0.0
...,...,...,...,...,...,...,...,...
995,RUOK,RUOK,NaN,10100000.0,Brazil,215400.0,25200.0,1300.0
996,FoxNewsChannel,Fox News,News & Politics,10100000.0,United States,98400.0,4000.0,884.0
997,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10100000.0,Indonesia,218300.0,4500.0,306.0
998,MBCkpop,MBCkpop,Music & Dance,10100000.0,Malaysia,19700.0,2600.0,92.0
999,Dynamo Gaming,Dynamo Gaming,NaN,10100000.0,India,139600.0,15400.0,125.0

In [63]:
from sklearn.impute import SimpleImputer

# Instantiate the imputer with your chosen strategy, e.g., 'mean'
imputer = SimpleImputer(strategy='mean')

# Assuming you want to impute missing values for numerical columns, select them
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Fit the imputer and transform the selected columns
df[numerical_cols] = imputer.fit_transform(df[numerical_cols])

# Check if there are any missing values left
print(df.isnull().sum())

Youtube channel      0
youtuber name        0
Category           293
Followers            0
Country            171
\nViews (Avg.)       0
Likes (Avg.)         0
Comments (Avg.)      0
dtype: int64

In [72]:
import random

# Function to fill empty values with a random category
def fill_with_random_category(value):
    if pd.isnull(value):
        return random.choice(category)
    else:
        return value
df['Category'] = df['Category'].apply(fill_with_random_category)

In [73]:
df.isnull().sum()

Youtube channel      0
youtuber name        0
Category             0
Followers            0
Country            171
\nViews (Avg.)       0
Likes (Avg.)         0
Comments (Avg.)      0
dtype: int64

In [75]:
country=df['Country'].dropna().unique().tolist()
country

['India',
 'United States',
 'Brazil',
 'Mexico',
 'Russia',
 'Philippines',
 'Thailand',
 'Colombia',
 'France',
 'Pakistan',
 'Indonesia',
 'Iraq',
 'Ecuador',
 'Turkey',
 'Saudi Arabia',
 'Argentina',
 'United Kingdom',
 'Spain',
 'Japan',
 'Bangladesh',
 'Algeria',
 'Egypt',
 'Jordan',
 'Peru',
 'Morocco',
 'Somalia',
 'Malaysia']

In [76]:
df['Country'].value_counts()

Country
United States     297
India             212
Brazil             77
Mexico             67
Indonesia          37
Russia             28
Thailand           17
Philippines        13
Colombia           10
Pakistan            9
Iraq                8
Turkey              6
France              5
Argentina           5
United Kingdom      5
Algeria             5
Egypt               5
Saudi Arabia        4
Spain               4
Japan               4
Peru                3
Bangladesh          2
Morocco             2
Ecuador             1
Jordan              1
Somalia             1
Malaysia            1
Name: count, dtype: int64

In [77]:
import random

# Function to fill empty values with a random category
def fill_with_random_category(value):
    if pd.isnull(value):
        return random.choice(country)
    else:
        return value
df['Country'] = df['Country'].apply(fill_with_random_category)

In [78]:
df.isnull().sum()

Youtube channel    0
youtuber name      0
Category           0
Followers          0
Country            0
\nViews (Avg.)     0
Likes (Avg.)       0
Comments (Avg.)    0
dtype: int64

In [79]:
df

,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.)
0,tseries,T-Series,Music & Dance,229500000.0,India,103800.0,2800.0,158.0
1,checkgate,Cocomelon - Nursery Rhymes,Education,146600000.0,Morocco,9500000.0,48300.0,0.0
2,PewDiePie,PewDiePie,Animation,111600000.0,United States,1400000.0,110700.0,7800.0
3,MrBeast6000,MrBeast,Video games,109100000.0,United States,38400000.0,3100000.0,56700.0
4,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000.0,Indonesia,2400000.0,15700.0,0.0
...,...,...,...,...,...,...,...,...
995,RUOK,RUOK,Daily vlogs,10100000.0,Brazil,215400.0,25200.0,1300.0
996,FoxNewsChannel,Fox News,News & Politics,10100000.0,United States,98400.0,4000.0,884.0
997,SULE PRODUCTIONS,SULE PRODUCTIONS,Food & Drinks,10100000.0,Indonesia,218300.0,4500.0,306.0
998,MBCkpop,MBCkpop,Music & Dance,10100000.0,Malaysia,19700.0,2600.0,92.0
999,Dynamo Gaming,Dynamo Gaming,Fashion,10100000.0,India,139600.0,15400.0,125.0

# Exploratory Data Analysis

In [80]:
# Display the first five rows of the dataset
df.head()

,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.)
0,tseries,T-Series,Music & Dance,229500000.0,India,103800.0,2800.0,158.0
1,checkgate,Cocomelon - Nursery Rhymes,Education,146600000.0,Morocco,9500000.0,48300.0,0.0
2,PewDiePie,PewDiePie,Animation,111600000.0,United States,1400000.0,110700.0,7800.0
3,MrBeast6000,MrBeast,Video games,109100000.0,United States,38400000.0,3100000.0,56700.0
4,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000.0,Indonesia,2400000.0,15700.0,0.0

In [81]:
# Display the last five rows of the dataset
df.tail()

,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.)
995,RUOK,RUOK,Daily vlogs,10100000.0,Brazil,215400.0,25200.0,1300.0
996,FoxNewsChannel,Fox News,News & Politics,10100000.0,United States,98400.0,4000.0,884.0
997,SULE PRODUCTIONS,SULE PRODUCTIONS,Food & Drinks,10100000.0,Indonesia,218300.0,4500.0,306.0
998,MBCkpop,MBCkpop,Music & Dance,10100000.0,Malaysia,19700.0,2600.0,92.0
999,Dynamo Gaming,Dynamo Gaming,Fashion,10100000.0,India,139600.0,15400.0,125.0

In [82]:
# Display the summary statistics of the dataset
df.describe()

          Followers  \nViews (Avg.)  Likes (Avg.)  Comments (Avg.)
count  1.000000e+03    1.000000e+03  1.000000e+03      1000.000000
mean   1.902470e+07    9.580841e+05  4.640513e+04      2074.210000
std    1.446608e+07    3.821697e+06  1.866770e+05     12824.564941
min    1.010000e+07    0.000000e+00  0.000000e+00         0.000000
25%    1.180000e+07    3.975000e+04  7.320000e+02         6.000000
50%    1.460000e+07    1.801500e+05  4.200000e+03       104.000000
75%    2.030000e+07    7.338000e+05  2.800000e+04       837.500000
max    2.295000e+08    9.600000e+07  3.100000e+06    322400.000000

In [83]:
# Display the data types of the columns
df.dtypes

Youtube channel     object
youtuber name       object
Category            object
Followers          float64
Country             object
\nViews (Avg.)     float64
Likes (Avg.)       float64
Comments (Avg.)    float64
dtype: object

In [84]:
# Display the number of unique values in each column
df.nunique()

Youtube channel    998
youtuber name      998
Category            20
Followers          254
Country             27
\nViews (Avg.)     757
Likes (Avg.)       631
Comments (Avg.)    419
dtype: int64

In [85]:
# Display the number of unique values in the 'Category' column
df['Category'].value_counts()

Category
Music & Dance           244
Movies                  119
Animation               109
Video games              79
News & Politics          55
Daily vlogs              49
Education                49
Toys                     36
Food & Drinks            32
Science & Technology     31
Sports                   28
DIY & Life Hacks         24
Humor                    24
Fashion                  23
ASMR                     21
Fitness                  19
Animals & Pets           18
Health & Self Help       14
Design/art               13
Beauty                   13
Name: count, dtype: int64

In [86]:
# Display the number of unique values in the 'Country' column
df['Country'].value_counts()

Country
United States     303
India             215
Brazil             84
Mexico             75
Indonesia          41
Russia             33
Philippines        20
Colombia           19
Thailand           19
Pakistan           16
United Kingdom     15
Spain              15
Peru               14
Japan              13
Turkey             13
Morocco            12
France             12
Iraq               12
Argentina          11
Saudi Arabia        9
Algeria             9
Bangladesh          9
Malaysia            8
Egypt               8
Somalia             6
Ecuador             5
Jordan              4
Name: count, dtype: int64

In [93]:
import plotly.express as px
# Taking first 100 rows for better visualization
df_100 = df.head(50)
# Group by 'Country' and 'Category', then count the occurrences
grouped_df = df_100.groupby(['Country', 'Category']).size().reset_index(name='counts')

# Pivot the DataFrame to have countries as rows and categories as columns
pivot_df = grouped_df.pivot(index='Country', columns='Category', values='counts').fillna(0)

# Plot using Plotly Express
fig = px.bar(pivot_df, barmode='group', title="Number of Categories in Every Country")

# Update layout for better readability
fig.update_layout(xaxis_title="Country", yaxis_title="Number of Categories", xaxis={'categoryorder':'total descending'})

fig.show()